#copy this into your custom .env
CODA_API_KEY=a4ae8b6e-8c83-4484-ae7b-b136e127f13f
CODA_API_ENDPOINT=https://coda.io/apis/v1
TOOLS_MASTER_DOC_ID=VoeJ_uCKli
TIMETRACKER_TABLE_ID=grid-LfUy8zhc7J

HOST="0.0.0.0"
PORT=8000